// Color & Fonts
:root{
    --c-black: #080410;
    --c-white: #fff;
    --c-light: #F6EDFF;
    --c-light-alt: #D9CCFF;

    --f-primary: 'Josefin Sans', sans-serif;
    --f-secondary: 'Yeseva One', serif;
}
