html{
    // prevent bouncy scroll
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
}

body{
    font-family: var(--f-primary);
    background-color: var(--c-black);
    color: var(--c-white);
    overflow-x: hidden;
}
.container{
    max-width: 1376px;
    display: grid;
    padding-left: 2rem;
    padding-right: 2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    @media all and (max-width: 667px){
        grid-template-columns: repeat(4, 1fr);
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

section{
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    @media all and (max-width: 667px){
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

h1{
    font-size: 3.5rem;
    line-height: 1;
    font-family: var(--f-secondary);
    font-weight: normal;
    @media all and (max-width: 1023px){
        font-size: 2.5rem;
    }
}
h2{
    font-size: 2.8125rem;
    font-family: var(--f-secondary);
    line-height: 1.15;
    font-weight: normal;
    color: var(--c-light);
    @media all and (max-width: 1023px){
        font-size: 2rem;
    }
}
h4{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.35;
    @media all and (max-width: 1023px){
        font-size: 1.25rem;
    }
}
h5{
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}