.footer{
    padding: 5rem 0 2rem;
    &__col{
        grid-column: span 2;
        @media all and (max-width: 667px){
            margin-bottom: 1.5rem;
        }
        &:first-child,
        &:last-child{
            grid-column: span 3;
        }
        &:first-child{
            img{
                filter: grayscale(1) brightness(2);
                margin-bottom: 1.5rem;
            }
            h4{
                background-image: linear-gradient(-90deg, #E6FCA7 0%, #77DBFB 33%, #F5CA5D 66%, #9B70F7 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                letter-spacing: -0.2px;
                margin-bottom: 1rem;
            }
            p{
                line-height: 1.5;
                margin-bottom: 1.5rem;
            }
        }
        h5{
            font-size: 0.875rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }
    }
    &__social{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li{
            margin-right: 0.5rem;
            a{
                transition: opacity 300ms;
                &:hover{
                    opacity: 0.5;
                }
            }
        }
    }
    &__links{
        padding: 0;
        margin: 0;
        list-style: none;
        line-height: 1.35;
        li{
            margin-bottom: 1.5rem;
            font-weight: 400;
        }
        a{
            text-decoration: none;
            color: var(--c-white);
            transition: color 300ms;
            &:hover{
                color: var(--c-light-alt);
            }
        }
    }
}