.subscribe{
    padding-top: 0;
    @media all and (max-width: 667px){
        padding-top: 2.5rem;
    }
    &__wrapper{
        grid-column: 3 / 11;
        @media all and (max-width: 667px){
            grid-column: span 4;
        }
        h2,
        p{
            text-align: center;
        }
        h2{
            margin-bottom: 1.5rem;
        }
        p{
            font-size: 1.25rem;
            line-height: 1.5;
            margin-bottom: 2.5rem;
            @media all and (max-width: 667px){
                br{
                    display: none;
                }
            }
        }
        .signUpForm{
            max-width: 528px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}